/* Grey69 = 173, 173, 173, 1 */ 
body { 
	margin:0;
	display: block;
}
  /* Portrait mode styling */
  @media screen and (orientation: portrait) {
	.Content .Landscape {
		display: none;
	}

	.Content .portrait {
	  	display: block;
	  	text-align: center;
	  	background-color: black;
	  	color: white;
	  	padding: 20px;
	}
  }

.Background { 
	background-color:rgba(0, 0, 0, 1);
	width:100%;
	height:100%;
	position:absolute;
}

.Name_Background { 
	width:100%;
	height:32px;
	position:relative;
	background-color: #32CD32;
	z-index:1;
}
.Name { 
	color:rgba(0, 0, 0, 1);
	width:100%;
	height:22px;
	position:absolute;
	top:5px;
	font-family:Roboto;
	text-align:right;
	right:2%;
	font-size:23px;
	letter-spacing:0;
	z-index:1;
}

.Navbar_Background { 
	background-color: #32CD32;
	width:100%;
	height:24px;
	position:relative;
	z-index:1;
}

.Impressum_Background { 
	background-color:rgba(173, 173, 173, 1);
	width:100%;
	height:65px;
	position:absolute;
	bottom:0;
	z-index:1;
}
.Impressum { 
	color:rgba(0, 0, 0, 1);
	width:127px;
	height:33px;
	position:absolute;
	left:50%;
	bottom:15px;
	font-family:Roboto;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
	z-index: 1;
}

.Moodboard_Background { 
	background-color:rgba(212, 212, 212, 1);
	width:100%;
	height:100%;
	position:absolute;
}
.Moodboard {
	position: relative;
	top: 56px;
}

.topnav {
  background-color: rgba(105,105,105,0);
}
.topnav .nav-link {
  float: left;
  height:28px;
  color:white;
  font-family:Roboto;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  position:relative;
  z-index: 1;
}
.topnav .nav-link:hover {
  background-color: #ddd;
  color: black;
}
.topnav .nav-link.active {
  background-color: #126301;
  color: white;
}
.topnav .nav-icon {
	display: none;
	z-index: 1;
}

@media screen and (max-width: 910px) {
	.topnav .nav-link {
	  display: none;
	}
	.topnav .nav-icon {
		display: block;
		position: relative;
		float: left;
		padding: 0px 5px;
		font-size: 37px;
	  	color: white;
	  	cursor: pointer;
	  	display: block;
	}
	.topnav.responsive {
		position: relative;
	  }
	.topnav.responsive .nav-link {
		float: right;
		display: block;
		width: 100%;
		text-align: center;
		background-color:rgb(114, 109, 109);
	  }
  }
.button-lang {
	position: relative;
	background-color: #126301;
	top: 15px;
	margin-left: 5px;
	padding: 3px;
	z-index: 1;
}
.button-lang.active {
	background-color: #32CD32;
}
