/* Grey69 = 173, 173, 173, 1 */ 
body { 
	margin:0;
	font-family: Roboto;
	display: block;
}

footer {
	position: absolute;
	height: 50px;
	width: 100%;
	bottom: 0;
}

.loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9); /* Semi-transparent black overlay */
	display: flex;
    justify-content: center;
	z-index: 100;
}
.loading-icon {
    position: relative;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
    border: 4px solid #32CD32;
    border-top: 4px solid #3498db;
    animation: spin 1s linear infinite;
	display: block;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


.Background { 
	background-color:rgb(114, 109, 109);
	width:100%;
	height:100%;
	position:absolute;
}

.Name { 
	color:rgba(0, 0, 0, 1);
	width:100%;
	height:22px;
	position:absolute;
	top:5px;
	font-family:Roboto;
	text-align:right;
	right:2%;
	font-size:23px;
	letter-spacing:0;
}

.Navbar_Background { 
	background-color: #32CD32;
	width:100%;
	height:56px;
	position:relative;
	display: flex;
}

.Title {
	display: flex;
	width: 100%;
	justify-content: center;
    text-align: center;
	font-size: 31px;
	position: absolute;
	top: auto;
	transition: top 0.4s ease, transform 0.4s ease, opacity 0.5s ease;
}

.Rechtliches_Background { 
	background-color:rgba(173, 173, 173, 1);
	width:100%;
	height:50px;
	position:absolute;
	bottom:0;
	z-index:1;
	display: flex;
    justify-content: center;
    z-index: 2;
}
.Rechtliches { 
	color:rgba(0, 0, 0, 1);
	width:127px;
	height:33px;
	position:absolute;
	bottom:7px;
	text-align:center;
	font-size:25px;
	letter-spacing:0;
	z-index: 1;
}

.topnav {
	position: relative;
	z-index: 1;
  	background-color: rgba(105,105,105,0);
}
.topnav .nav-link {
  float: left;
  height:28px;
  color:white;
  font-family:Roboto;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  position:relative;
}
.topnav .nav-link:hover {
  background-color: #ddd;
  color: black;
}
.topnav .nav-link.active {
  background-color: #126301;
  color: white;
}
.topnav .nav-icon {
	display: none;
}

#language-switcher {
	display: flex;
	flex-direction: row;
}
.button-lang {
	position: relative;
	background-color: #126301;
	top: 14px;
	margin-left: 5px;
	padding: 3px;
	z-index: 1;
	cursor: pointer;
	border-style: solid;
	border-width: 3px;
	border-color: forestgreen;
}
.button-lang.active {
	background-color: #32CD32;
}

/* Rechtliches.html specific /*

/* Kontakt.html specific */
.GMail-Form {
	display: none;
	position: fixed;
	width: 70%;
	top: 50%;
	left: 50%;
	border-radius: 15px;
	transform: translate(-50%, -50%);
	background-color: rgba(128, 128, 128, 1);
	padding: 20px;
	z-index: -1;
}
.GMail-Logo {
	position: absolute;
	height: 30%;
	width: auto;
	top: 30%;
	left: 15%;
	cursor: pointer;
}
.portrait .GMail-Logo {
	top: 15%;
	left: 50%;
	transform: translateX(-50%);
}
input, textarea {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	width: 100%;
	line-height: 1.5;
	background-color:rgb(114, 109, 109) ;
	font-size: 16px;
	display: block;
}
textarea {
	height: 160px;
}
.button-submit {
	background-color: gray;
	float: left;
}
.button-clear, .button-cancel {
	background-color: gray;
	float: right; 
}

.GitHub-Logo {
	position: absolute;
	height: 30%;
	width: auto;
	top: 30%;
	right: 15%;
	cursor: pointer;
}
.portrait .GitHub-Logo {
	top: 50%;
	left: 50%;
	transform: translateX(-50%);
}

/* responsive styling */
@media screen and (max-width: 910px) {
	.topnav .nav-link {
		display: block;
		visibility: hidden;
		float: right;
		opacity: 0;
		top: 0;
		transition: top 0.4s ease, opacity 0.5s ease;
		transform: translateY(+200%);
	}
	.topnav .nav-icon {
		display: none;
		position: relative;
		float: left;
		padding: 0px 5px;
		font-size: 37px;
	  	color: white;
	  	cursor: pointer;
	  	display: block;
	}
	.topnav.responsive {
		position: relative;
		width: 100%;
	  }
	.topnav.responsive .nav-link {
		display: block;
		visibility: visible;
		top: 111px;
		width: 100%;
		text-align: center;
		background-color:rgb(114, 109, 109,0.71);
		transform: translateY(-200%);
		opacity: 1;
	}
	.topnav.responsive .nav-link.active {
		background-color:rgb(92, 88, 88);;
	}
	.Title.responsive {
		transform: translateY(calc(-100% - 10px));
		opacity: 1;
	}
  }

@media screen and (max-width: 388px) {
	.Name {
		font-size: 18px;
	}
	.button-lang {
		margin-left: 5px;
	}
  }


/* Portrait mode styling */
@media screen and (orientation: portrait) {
	.Content .Landscape {
		display: none;
	}

	.Content .portrait {
	  	display: block;
	  	text-align: center;
	  	background-color: black;
	  	color: white;
	}
	.Title.responsive {
		opacity: 0;
		transform: none;
	}
  }